<html>
<head>
    <title>Password Analysis</title>
</head>
<body>
    <h1>Password Analysis</h1>
    <p>
        Your password has the following characteristics:
    </p>
    <table>
        <tr>
            <th>Name</th>
            <th>Count</th>
            <th>Bonus</th>
            <th>Type</th>
        </tr>
        {% for item in quality %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.count}}</td>
            <td>{{item.bonus}}</td>
            <td>{{item.type}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Your password has a score of {{quality | sum(attribute='bonus')}}</p>

    {% if dedup == true %}
    <p>Your password <b>WAS USED BEFORE!</b></p>
    {% else %}
    <p>Your password is not used within the last 10 times.</p>
    {% endif %}

    {% if known == true %}
    <p>Your password <b>IS A VERY COMMON ONE!</b></p>
    {% else %}
    <p>Your password is not found in the list of common passwords.</p>
    {% endif %}

    <p>
        <a href="/">Try another password</a>.
    </p>
</body>
</html>